{% extends 'webkiosk/base_template.html' %}


{% block pagetitle %} {{customer.name}} {% endblock %} <!--customer.name is title-->

{% block maincontent %}
<h2> {{customer.firstname}} {{customer.lastname}} </h2> <!--context object in views.py is customer ie. context = {'customer': f}, sowe also used customer.name to match-->
<u1>
<li>First Name: {{customer.firstname}} </li>
<li>Last Name: {{customer.lastname}} </li>
<li>Address: {{customer.address}} </li>
<li>City: {{customer.city}} </li>   
</u1>
{% endblock %}