{% extends 'webkiosk/base_template.html'%}

{% block pagetitle %} Menu {% endblock%}

{% block maincontent %}
<h2>Menu </h2>
<ol> 
    <!-- list of food records go here, ths is comment on html--> 
    {% for food in foodlist %} <!-- for loop loops through all items on food list -->
        <li>{{ food.name}} - Php {{ food.price }} | <a href="{% url 'webkiosk:food-detail' food.id %}"> More Info </a>| <a href="{% url 'webkiosk:food-update' food.id %}"> Edit</a> | <a href="{% url 'webkiosk:food-delete' food.id %}">Delete</a></li> <!-- and creates list number, 1. hamburger etc. NOTE: name, desciption, and price comes from mmodels.py-->
    {% endfor %}
</ol>
<br>
<p> Welcome to the BITEbox Web Kiosk! Manage the menu, customers, and orders here</p>
{% endblock %}